
body {
    font-family: 'Jost', 'Futura', 'Verdana', 'sans-serif';
    color: #212121;
    background-color:#f4f9fc;
    }

h1 {
    font-size: 36pt;
    font-weight: 700;
    }

h2 {
    font-size: 18pt;
    font-weight: 900;
    }


h3 {
    font-size:14pt; 
    font-style:italic;
    font-weight: 400;
    }

h4 {
    font-size: 13pt;
    font-weight: 500;
    }


p {
    font-size: 12pt;
    font-weight: 300;
    }

a {
    color:inherit;
    }

